@import url("https://fonts.googleapis.com/css?family=Montserrat");
@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,900);

@font-face {
    font-family: 'Cereal';
    src: url('../fonts/Cereal/airbnbcereal_w_lt.woff2') format('woff2'),
         url('../fonts/Cereal/airbnbcereal_w_lt.woff') format('woff');
    font-weight: lighter;
    font-style: normal;
}

@font-face {
    font-family: 'Cereal';
    src: url('../fonts/Cereal/airbnbcereal_w_md.woff2') format('woff2'),
         url('../fonts/Cereal/airbnbcereal_w_md.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Cereal';
    src: url('../fonts/Cereal/airbnbcereal_w_xbd.woff2') format('woff2'),
         url('../fonts/Cereal/airbnbcereal_w_xbd.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

*{
	font-family: 'Cereal' !important;
}


body {
	margin: 0;
	background-image: url("../images/bg9.png");
	background-size: 100%;
	background-attachment: fixed;
	backdrop-filter: blur 200px;
	box-sizing: inherit;
}


.ovni{
	position: absolute;
	top: 7vh;
	left: 29vw;
	width: 12%;
  	
}

.ovni-walk{
	left: 0vw;
	animation: ufo 1.5s ease-in-out ;
  	transform: scaleX(-1) translateX(-58vw);
}


.ovni-return{ 
	left: 0vw;
	animation: ufo2 1.5s ease-in-out;
	transform: scaleX(1) translateX(29vw);
	
}

@keyframes ufo{
	from{
		transform: scaleX(-1) translateX(-29vw);
	}

	to{
		transform: scaleX(-1) translateX(-58vw);
	}
}

@keyframes ufo2{
	from{
		transform: scaleX(1) translateX(58vw);
	}

	to{
		transform: scaleX(1) translateX(29vw);
	}
}



h1 {
	transform: rotate(180deg);
	text-transform: uppercase;
	text-align: center;
	font-size: 2rem;
	writing-mode: vertical-rl;
	color: #ab49de;
	background-image: linear-gradient(-90deg, #ab49de, #180622);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	user-select: none;
}
:root {
	--form-control-color: darkred;
		--black: #161920;
	--navy : #3671B3;
	--blue : #BDE4FC;
	--white : #FFFEE6;
	--orange : #FF890A;
	--red : #EA001C;
	--darkred : #AF001E;
}

*,
*:before,
*:after {
	box-sizing: border-box;
}

form {
	display: grid;
	place-content: center;
	align-items: center;
}

.form-control {
	display:flex;
	font-family: system-ui, sans-serif;
	justify-content: center;
	font-size: 2rem;
	font-weight: bold;
	line-height: 1.1;
	display: grid;
	grid-template-columns: 1em auto;
	gap: 0.5em;
}

.form-control:focus-within {
	color: var(--form-control-color);
}

.form-control span {
display: flex;
justify-content: center;
}

input[type="radio"] {
	/* Add if not using autoprefixer */
	-webkit-appearance: none;
	/* Remove most all native input styles */
	appearance: none;
	/* For iOS < 15 */
	background-color: var(--form-background);
	/* Not removed via appearance */
	margin: 0;

	font: inherit;
	color: currentColor;
	width: 1.15em;
	height: 1.15em;
	border: 0.15em solid currentColor;
	border-radius: 50%;
	transform: translateY(-0.075em);
	margin: 0 39px;
	display: grid;
	place-content: center;
}

input[type="radio"]::before {
	content: "";
	width: 0.65em;
	height: 0.65em;
	border-radius: 50%;
	transform: scale(0);
	transition: 120ms transform ease-in-out;
	box-shadow: inset 1em 1em var(--form-control-color);
	/* Windows High Contrast Mode */
	background-color: CanvasText;
}

input[type="radio"]:checked::before {
	transform: scale(1);
}

.form-traveler{
	display: flex;
	flex-direction: column;
	width: 100%;
	font-size: 16px;
	background: transparent;
	padding: 30px 30px 15px 30px;
	border: 5px solid #53687E;
	vertical-align: baseline;
	align-items: baseline;

background: rgba( 0, 0, 0, 0.75 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 1px );
-webkit-backdrop-filter: blur( 1px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.form-traveler input[type=submit],
.form-traveler input[type=button],
.form-traveler input[type=text],
.form-traveler input[type=email],
.form-traveler textarea,
.form-traveler label
{
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 16px;
	color: #FFFEE6;

}
.form-traveler label {
	margin-bottom: 22px;
}
.form-traveler label > span{
	display: flex;
	float: left;
}
.form-traveler input[type=text],
.form-traveler input[type=email] 
{
	background: transparent;
	border: none;
	border-bottom: 1px dashed #83A4C5;
	width: 275px;
	outline: none;
	padding: 0px 0px 0px 0px;
	font-style: italic;
}
.form-traveler textarea{
	background: #D3D3D3;
	color: black;
 	width: 600px;
	height: 120px;
	border: 3px solid #cccccc;
	padding: 5px;
	background-position: bottom right;
	background-repeat: no-repeat;
}


.form-traveler textarea:focus, 
.form-traveler input[type=text]:focus,
.form-traveler input[type=email]:focus,
.form-traveler input[type=email] :focus
{
	border-bottom: 1px dashed #D9FFA9;
}

.form-traveler input[type=submit],
.form-traveler input[type=button]{
	background: #576E86;
	border: none;
	padding: 8px 10px 8px 10px;
	border-radius: 5px;
	color: #A8BACE;
}
.form-traveler input[type=submit]:hover,
.form-traveler input[type=button]:hover{
	background: #394D61;
}



.big-form{
	display: flex;
	align-items: center;
	justify-content: space-around;
	width: 100%;
}

.radio-but{
	display: flex;
	margin: auto;
}

.radio-but label>span{
	width: 150px;
}

.buttons {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  text-align: center;
  width: 100%;
}

.container {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 1em;
  text-align: center;
}



@media only screen and (max-width: 1000px) {
  .container {
    flex-direction: column;
    justify-content: space-between;
  }
}

.btn {
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
  line-height: 45px;
  margin: 0 0 2em;
  max-width: 160px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%;
}
@media (min-width: 600px) {
  .btn {
    margin: 0 1em 2em;
  }
}
.btn:hover {
  text-decoration: none;
}

.btn-1 {
  background: #e02c26;
  font-weight: 100;
}
.btn-1 svg {
  height: 45px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.btn-1 rect {
  fill: none;
  stroke: white;
  stroke-width: 2;
  stroke-dasharray: 422, 0;
  transition: all 0.35s linear;
}

.btn-1:hover {
  font-weight: 900;
  letter-spacing: 1px;
  transform: scale(1.1);
  transition: 1.35s all cubic-bezier(0.19, 1, 0.22, 1);
}
.btn-1:hover rect {
  stroke-width: 5;
  stroke-dasharray: 15, 310;
  stroke-dashoffset: 48;

  transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1);

}

			
.btn-1-click {
	background: rgba(225, 51, 45, 0);	
	font-weight: 900;
	letter-spacing: 1px;
}


.cbx {
  -webkit-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
}
.cbx span {
  display: inline-block;
  vertical-align: middle;
  transform: translate3d(0, 0, 0);
}
.cbx span:first-child {
  position: relative;
  width: 24px;
  height: 24px;
  bottom: 3px;
  border-radius: 50%;
  transform: scale(1);
  vertical-align: middle;
  border: 1px solid #B9B8C3;
  transition: all 0.2s ease;
}
.cbx span:first-child svg {
  position: absolute;
  z-index: 1;
  top: 8px;
  left: 6px;
  fill: none;
  stroke: white;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 16px;
  stroke-dashoffset: 16px;
  transition: all 0.3s ease;
  transition-delay: 0.1s;
  transform: translate3d(0, 0, 0);
}
.cbx span:first-child:before {
  content: "";
  width: 100%;
  height: 100%;
  background: #506EEC;
  display: block;
  transform: scale(0);
  opacity: 1;
  border-radius: 50%;
  transition-delay: 0.2s;
}
.cbx span:last-child {
  margin-left: 8px;
}

.cbx:hover span:first-child {
  border-color: #3c53c7;
}

.inp-cbx:checked + .cbx span:first-child {
  border-color: #3c53c7;
  background: #3c53c7;
  animation: check 0.6s ease;
}
.inp-cbx:checked + .cbx span:first-child svg {
  stroke-dashoffset: 0;
}
.inp-cbx:checked + .cbx span:first-child:before {
  transform: scale(2.2);
  opacity: 0;
  transition: all 0.6s ease;
}
.inp-cbx:checked + .cbx span:last-child {
  color: #B9B8C3;
  transition: all 0.3s ease;
}
.inp-cbx:checked + .cbx span:last-child:after {
  transform: scaleX(1);
  transition: all 0.3s ease;
}


.cbx2 {
	-webkit-user-select: none;
	user-select: none;
	-webkit-tap-highlight-color: transparent;
	cursor: pointer;
  }
  .cbx2 span {
	display: inline-block;
	vertical-align: middle;
	transform: translate3d(0, 0, 0);
  }
  .cbx2 span:first-child {
	position: relative;
	width: 24px;
	height: 24px;
	bottom: 3px;
	border-radius: 50%;
	transform: scale(1);
	vertical-align: middle;
	border: 1px solid #B9B8C3;
	transition: all 0.2s ease;
  }
  .cbx2 span:first-child svg {
	position: absolute;
	z-index: 1;
	top: 8px;
	left: 6px;
	fill: none;
	stroke: white;
	stroke-width: 2;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-dasharray: 16px;
	stroke-dashoffset: 16px;
	transition: all 0.3s ease;
	transition-delay: 0.1s;
	transform: translate3d(0, 0, 0);
  }
  .cbx2 span:first-child:before {
	content: "";
	width: 100%;
	height: 100%;
	background: #506EEC;
	display: block;
	transform: scale(0);
	opacity: 1;
	border-radius: 50%;
	transition-delay: 0.2s;
  }
  .cbx2 span:last-child {
	margin-left: 8px;
  }
  .cbx2:hover span:first-child {
	border-color: #3c53c7;
  }
  
  .inp-cbx2:checked + .cbx2 span:first-child {
	border-color: #3c53c7;
	background: #3c53c7;
	animation: check 0.6s ease;
  }
  .inp-cbx2:checked + .cbx2 span:first-child svg {
	stroke-dashoffset: 0;
  }
  .inp-cbx2:checked + .cbx2 span:first-child:before {
	transform: scale(2.2);
	opacity: 0;
	transition: all 0.6s ease;
  }
  .inp-cbx2:checked + .cbx2 span:last-child {
	color: #B9B8C3;
	transition: all 0.3s ease;
  }
  .inp-cbx2:checked + .cbx2 span:last-child:after {
	transform: scaleX(1);
	transition: all 0.3s ease;
  }
  







.modal {
	opacity: 0;
	padding: 50px;
	position: absolute;
	z-index: 1100;
	-webkit-transition: opacity 600ms linear 600ms;
	-moz-transition: opacity 600ms linear 600ms;
	-ms-transition: opacity 600ms linear 600ms;
	-o-transition: opacity 600ms linear 600ms;
	transition: opacity 600ms linear 600ms;
  }
  
  .modal_info {
	background: #FCF9F2;
	padding: 50px 100px;
	text-align: center;
  }
  
  .modal_overlay {
	background: rgba(0, 0, 0, 0.5);
	bottom: 0;
	left: 0;
	opacity: 0;
	overflow: auto;
	position: fixed;
	right: 0;
	top: 0;
	visibility: hidden;
	z-index: 900;
	-webkit-transition: opacity 200ms linear;
	-moz-transition: opacity 200ms linear;
	-ms-transition: opacity 200ms linear;
	-o-transition: opacity 200ms linear;
	transition: opacity 200ms linear;
  }
  
  .display {
	opacity: 1;
	visibility: visible;
  }
  




@keyframes check {
  50% {
    transform: scale(1.2);
  }
}


.subbutt{
	text-align: center;
}