:root{
	--black: #161920;
	--navy : #3671B3;
	--blue : #BDE4FC;
	--white : #FFFEE6;
	--orange : #FF890A;
	--red : #EA001C;
	--darkred : #AF001E;
}

body{
	margin: 0;
	padding: 0;
	font-family: 'Roboto';
}

nav{
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: var(--blue);
	width: 100%;
	height: 10vh;
}

nav .logo{
	padding-left: 10px;
}

nav .logo img{
	height: 10vh;
}

.menu{
	display: flex;
	justify-content: space-around;
	list-style: none;
	width: 50%;
}

.menu-item a{
	text-decoration: none;
	color: black;
	font-weight: 700;
	font-size: 16px;
}

.connect a{
	border-radius: 500px;
	background-color: var(--navy);
	color: white;
	padding: 10px;
}


.menu-item2{
	background: #A02026;
	color: white;
	padding: 10px;
	border-radius: 500px;
}