body{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

nav{
  display: flex;
  background-color: #3671B3;
  justify-content: space-between;
  align-items: center;
  min-height: 10vh;
  font-family: 'Cereal',sans-serif;
}

nav .logo a{
  display: flex;
  align-items: center;
  position: relative;
  left : 10px;
}

nav .logo img{
  height: 10vh;
}

.nav-links{
  display: flex;
  justify-content: space-around;
  width: 60%;
  z-index: 100000;
}

.nav-links li{
  list-style: none;
}

.nav-links a{
  text-decoration: none;
  font-weight: bold;
  color: white;
}


.burger{
  display: none;
  cursor: pointer;
}

.burger div{
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 5px;
  transition: all 0.3s ease;
}


@media screen and (max-width: 800px){
  body{
    overflow-x: hidden;
  }    
  .nav-links{
    position: absolute;
    right: 0px;
    height: 90vh;
    top: 10vh;
    background-color: #3671B3;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }
  .nav-links li{
    opacity: 0;
  }
  .burger{
    display: block;
    position: absolute;
    right: 10px;
  }
}

.nav-active{
  transform: translateX(0%);
}



@keyframes navLinkFade{
  from{
    opacity: 0;
    transform: translateX(50px);

  }
  to{
    opacity: 1;
    transform: translateX(0px);
  }
}


.toggle .line1{
  transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2{
  opacity: 0;
}
.toggle .line3{
  transform: rotate(45deg) translate(-5px, -6px);
}