body{
  display: flex;
  background: var(--navy);
  flex-direction: column;
  font-family: -Roboto;
  font-weight: light;
}
#container{
    width:400px;
    margin:0 auto;
    margin-top:10%;
}
/* Bordered form */

#container h1{
    width: 60%;
    margin: 0 auto;
    padding-bottom: 10px;
    text-align: center;
}


.input-group {
  margin: 10px 0px 10px 0px;
}
.input-group label {
  display: block;
  text-align: left;
  margin: 3px;
}
.input-group input {
  height: 30px;
  width: 93%;
  padding: 5px 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid gray;
}
.btn {
  padding: 10px;
  font-size: 15px;
  color: white;
  background: #5F9EA0;
  border: none;
  border-radius: 5px;
}
.error {
  width: 92%; 
  margin: 0px auto; 
  padding: 10px; 
  border: 1px solid #a94442; 
  color: #a94442; 
  background: #f2dede; 
  border-radius: 5px; 
  text-align: left;
}
.success {
  color: #3c763d; 
  background: #dff0d8; 
  border: 1px solid #3c763d;
  margin-bottom: 20px;
}
:root{
	--black: #161920;
	--navy : #3671B3;
	--blue : #BDE4FC;
	--white : #FFFEE6;
	--orange : #FF890A;
	--red : #EA001C;
	--darkred : #AF001E;
}

@font-face {
    font-family: Mont;
    src: url("../fonts/mont-heavydemo-webfont.woff2") format("woff2");
}
h1{
    font-family: Mont;
    text-align: center;
    font-size: 500%;
}

form{
    display: flex;
    background: var(--white);
    border-radius: 15px;
    padding: 5%;
    margin: 10%;
    flex-direction: column;
    
}



input{
    background: var(--blue);
    border: hidden;
    border-radius: 10px;
    padding: 1%;
}


textarea{
    background: var(--blue);
    border-radius: 20px;
    padding: 1%;
}

.Checkboxes{
    display: flex;
    flex-direction: row;
    font-size: 3vw;
}

.formap{
    display: flex;
    flex-direction: row;
}

@media only screen and (max-width: 1200px) {
    
    h1{
        font-size:300% ;
    }
    
    form{
        display: flex;
        background: var(--white);
        border-radius: 15px;
        padding: 5%;
        margin: 10%;
        flex-direction: column;
        font-size:5vw;
    }
    
    .input-group{
      font-size: 4vw;
    }
    
    input{
        background: var(--blue);
        border: hidden;
        border-radius: 10px;
        padding: 1%;
        height: 10vw;
        width: 50vw;
        font-size: 4vw;
        
    }
    .AllerRetour{
       
        height: 30vw;
        width: -1vw;
    }
   label.AllerRetour{
       vertical-align: top;
   }
    .NbPass{
        margin-right: 95%;
    }
    
    textarea{
        background: var(--blue);
        border-radius: 20px;
        padding: 3%;
        font-size: 3vw;
        width: 65vw;
    }
    
    .Checkboxes{
        display: flex;
        flex-direction: row;
        font-size: 3vw;
        padding-right: 1vw;
    }
    input[type="checkbox"]{
      width: 5vw;
      
    }
    
    .btn{
      height: 10vw;
      font-size: 5vw;
      
    }
    
    
}

