.search{
	height: 20vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.searchBar{
	width: 60%;
	height: 35%;
	border-radius: 500px;
	background-color: lightgrey;
}


.wrapper{
	display: flex;
	width: 100%;
	height: 70vh;
	justify-content: space-around;
}

#map{
	height: 600px;
	width: 600px;
}

#loader{
	width: 100%;
	height: 90vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.dot{
	display: block;
	height: 30px;
	width: 30px;
	background-color: grey;
	border-radius: 50%;
	margin: 5px;
	animation: bounce 1s infinite ease-in;
	opacity: 0.7;
}

.dot:nth-child(2){
	animation-delay: 0.25s;
}

.dot:nth-child(3){
	animation-delay: 0.50s;
}

@keyframes bounce{
	from{
		transform: translateY(0);
	}

	33%{
		transform: translateY(-20%);
	}

	66%{
		transform: translateY(0);
	}
}

.right{
	height: 90vh;
	width: 100%;
	align-items: center;
	overflow-y: scroll;
	background-color: blue;
}

.right .item{
	width: 40%;
	height: 15vh;
	border-radius: 10px;
	padding: 10px;
	-webkit-box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.75); 
	box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.75);
	margin: 5%;
	background-color: white;
}

.right .item img{
	width: 6%;
	margin: 0 10px;
}

.title{
	display: flex;
	align-items: center;
	height : 30px;
}

