body{
	font-family: 'Roboto';
}

.search{
	height: 20vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.searchBar{
	width: 60%;
	height: 35%;
	padding: 15px;
	border-radius: 500px;
	background-color: lightgrey;
	display: flex;
	align-items: center;
}

.searchBar .location{
	font-size: 20px;
	font-weight: 700;
}

.searchBar img{
	width: 30px;
	margin: 0 10px;
}

.searchIcon{
	height: 30px;
	width: 56px;
	margin-right: 10px;
}

.wrapper{
	display: flex;
	width: 100%;
	height: 70vh;
	justify-content: space-around;
	overflow-y: hidden;
}

.left{
	width: 35vw;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#map{
	width: 30vw;
	height: 30vw;
	margin: 0 0 0 5vw;
}

#loader{
	width: 100%;
	height: 90vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.dot{
	display: block;
	height: 30px;
	width: 30px;
	background-color: grey;
	border-radius: 50%;
	margin: 5px;
	animation: bounce 1s infinite ease-in;
	opacity: 0.7;
}

.dot:nth-child(2){
	animation-delay: 0.25s;
}

.dot:nth-child(3){
	animation-delay: 0.50s;
}

@keyframes bounce{
	from{
		transform: translateY(0);
	}

	33%{
		transform: translateY(-20%);
	}

	66%{
		transform: translateY(0);
	}
}

.right{
	width: 50vw;
	height: 70vh;
	align-items: center;
	overflow-y: scroll;
}

.right::-webkit-scrollbar {
    background-color: #EEE;
}

.right::-webkit-scrollbar-track {
    background-color: #EEE;
}

.right::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background-color: var(--navy);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

/* Item CSS */
.item{
	width: 40vw;
	height: 200px;
	border-radius: 20px;
	background: white;
	margin: 20px auto 40px auto;
	padding: 10px;
	-webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.4); 
	box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.4);
	transition: -webkit-box-shadow 1s;
	position: relative;
}

.item:hover{
	-webkit-box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.4); 
	box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.4);
}

.item .arrow-icon{
	width: 30px;
}

.data-group{
	width: 100%;
	display: flex;
	align-items: center;
	margin-left: 10px;
	margin-top: 10px;
	position: relative;
	top: -30px;
}

.item::before{
	content: '';
	display: block;
	background-color: #3671B3;
	width: 3px;
	height: 30px;
	position: relative;
	top: 26px;
	left: 77.75px;
}

.horaire{
	font-weight: 300;
	margin-right: 30px;
}

.horaire2{
	font-weight: 600;
	margin-right: 20px;
}

.place{
	font-weight: 600;
	font-size: 20px;
	width: 50vw;
}

.place2{
	font-weight: 600;
	font-size: 20px;
	width: 50vw;
}



.adresse{
	font-weight: 600;
    font-size: 12px;
    text-align: center;
    width: 100%;
    text-transform: capitalize;
}

.place::before{
	content: '';
	background-color: #3671B3;
	width: 10px;
	height: 10px;
	position: relative;
	display: inline-block;
	border-radius: 50%;
	top: -2px;
	left: -10px;
}

.date{
	text-align: right;
	margin-right: 20px;
	width: 200px;
}

.price{
	color: black;
	font-size: 26px;
	font-weight: 700;
	text-align: right;
	width: 100%;
	margin-right: 20px;
}

.account-info{
	width: 93%;
	display: flex;
	align-items: center;
	margin-left: 40px;
	margin-right: 20px;
	margin-top: 10px;
	position: absolute;
	left: -20px;
	bottom: 20px;
}

.profile-info{
	width: 20vw;
	margin-left: 3%;
}

.account-info img{
	width: 60px;
	height: 60px;
	object-fit: cover;
	border-radius: 50%;
}

.account-info .name{
	font-size: 20px;
	font-weight: 700;
}

.available{
	font-size: 14px;
	font-weight: 300;
}

.account-info .book{
	background-color: #00e640;
	text-decoration: none;
	color: white;
	text-align: right;
	padding: 10px;
	margin-left:10px ;
	border-radius: 500px;
	font-weight: 700;
	-webkit-transition: all 0.5s ease-in-out;
}

.account-info .book2{
	background-color: #D2042D;
	text-decoration: none;
	color: white;
	text-align: right;
	margin-left:10px ;
	padding: 10px;
	border-radius: 500px;
	font-weight: 700;
	-webkit-transition: all 0.5s ease-in-out;
}

.book:hover{
	color: var(--navy);
	background-color: white;
}

.book2:hover{
	color: var(--navy);
	background-color: white;
}

.book-container{
	width: 100%;
	text-align: right;
}

.book2-container{
	width: 100%;
	text-align: right;
}


.account-info .low_button{
	width: 30%;
	display: flex;
	justify-content: space-around;
}
.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 1rem 1.5rem;
    width: 60%;
    height: 80vh;
    border-radius: 0.5rem;
}

.close-button {
    float: right;
    width: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
    background-color: lightgray;
}

.close-button:hover {
    background-color: darkgray;
}

.show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}



.data-all{
	width: 80%;
	display: flex;
	align-items: center;
	margin-left: 10px;
	margin-top: 20px;
	position: relative;
	top: -30px;
}


.textimg{
	width: 8%;
}

.userimg{
	width: 8%;
}

.description{
	text-align: center;
	font-size: 22px;
	font-weight: lighter;
	margin-left: 10px;
	width: 100%;
}

.description::first-letter{
	text-transform: uppercase;
}

.textbox{
	display: flex;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    border: #C0C0C0 solid 4px;
    border-style: solid none;
}


.priceBox{
	display: flex;
	text-align: center;
	padding-top: 10px;
    padding-bottom: 10px;
    border: #C0C0C0 solid 4px;
    border-style: none none solid none;
}


.pricetext{
	font-weight: lighter;
    width: 100%;
    text-align: left;
    margin-left: 10px;
    font-size: 22px;
}


.reservationBox{
	display: flex;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px

}

.reservation{
	font-weight: lighter;
    margin-left: 10px;
    font-size: 22px;
}


.date2{
	color: black;
    font-size: 22px;
    font-weight: lighter;
    text-align: right;
    width: 100%;
    margin-right: 20px;
}