:root{
	--black: #161920;
	--navy : #3671B3;
	--blue : #BDE4FC;
	--white : #FFFEE6;
	--orange : #FF890A;
	--red : #EA001C;
	--darkred : #AF001E;
}

.AllerRetour{
    display: flex;
    flex-direction: row;   
}

form{
    width: 80%;
    display: flex;
    flex-direction: row;
    margin: auto;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
    margin-bottom: 30px;
}

form label{
    width: 150px;
}

input[type="radio"]{
    margin-top: 2.25%;
}
label{
    text-align: top;
    padding: 2%;
}

.deletebutton {
    
	
    background-color: var(--darkred) !important;
    color: white;
    padding: 14px 20px;
    border-radius: 30px !important; 

}

.deletebutton:hover{
    background-color: var(--red) !important;
}

.deleteform{
    all: unset;
}

.account-info .book2{
    background-color: #6082B6;
    text-decoration: none;
    color: white;
    text-align: right;
    padding: 10px;
    border-radius: 500px;
    font-weight: 700;
    -webkit-transition: all 0.5s ease-in-out;
}

.book2:hover{
    color: var(--navy);
    background-color: white;
}

